@{
    ViewData["Title"] = "首頁";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">節 次</th>
            <th scope="col">上課時間</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>第 1 節</td>
            <td>08：10 ～ 09：00</td>
        </tr>
        <tr>
            <td>第 2 節</td>
            <td>09：10 ～ 10：00</td>
        </tr>
        <tr>
            <td>第 3 節</td>
            <td>10：10 ～ 11：00</td>
        </tr>
        <tr>
            <td>第 4 節</td>
            <td>11：10 ～ 12：00</td>
        </tr>
        <tr>
            <td>第 5 節</td>
            <td>13：30 ～ 14：20</td>
        </tr>
        <tr>
            <td>第 6 節</td>
            <td>14：30 ～ 15：20</td>
        </tr>
        <tr>
            <td>第 7 節</td>
            <td>15：30 ～ 16：20</td>
        </tr>
        <tr>
            <td>第 8 節</td>
            <td>16：30 ～ 17：20</td>
        </tr>
        <tr>
            <td>第 9 節</td>
            <td>17：30 ～ 18：20</td>
        </tr>
        <tr>
            <td>第 10 節</td>
            <td>18：30 ～ 19：20</td>
        </tr>
        <tr>
            <td>第 11 節</td>
            <td>19：25 ～ 20：15</td>
        </tr>
        <tr>
            <td>第 12 節</td>
            <td>20：20 ～ 21：10</td>
        </tr>
        <tr>
            <td>第 13 節</td>
            <td>21：15 ～ 22：05</td>
        </tr>
    </tbody>
</table>
