@{
    ViewData["Title"] = "畢業學分查詢";

    List<String> academic = new List<String>();
    academic.Add("");
    academic.Add("日間部二專");
    academic.Add("日間部五專");
    academic.Add("日間部二技");
    academic.Add("日間部四技");
    academic.Add("日間部碩士春季班");
    academic.Add("日間部碩士秋季班");
    academic.Add("日間部碩士");
    academic.Add("日間部博士");
    academic.Add("日四技產學攜手專班");
    academic.Add("進修部二專");
    academic.Add("進修部二技");
    academic.Add("進修部四技");
    academic.Add("進修部碩士春季班");
    academic.Add("進修部碩士秋季班");
    academic.Add("碩士在職專班");
    academic.Add("境外碩士在職春季專班");
    academic.Add("境外碩士在職秋季專班");
    academic.Add("進修學院二專");
    academic.Add("進修學院二技");
    academic.Add("學士後學程");
    academic.Add("二技在職專班");
    academic.Add("進四技產學攜手專班");
    academic.Add("進修部碩士");

    List<String> schoolsys = new List<String>();
    schoolsys.Add("");
    schoolsys.Add("國際企業系");
    schoolsys.Add("金融資訊系");
    schoolsys.Add("化學工程與材料工程系");
    schoolsys.Add("機械工程系");
    schoolsys.Add("模具工程系");
    schoolsys.Add("工業工程與管理系");
    schoolsys.Add("電機工程系");
    schoolsys.Add("電子工程系");
    schoolsys.Add("企業管理系");
    schoolsys.Add("觀光管理系");
    schoolsys.Add("會計資訊系");
    schoolsys.Add("財政稅務系");
    schoolsys.Add("基礎教育中心");
    schoolsys.Add("博雅教育中心");
    schoolsys.Add("外語教育中心");
    schoolsys.Add("跨外校修課生");
    schoolsys.Add("體育課程");

    List<String> year = new List<string>();
    year.Add("");
    year.Add("109");
    year.Add("108");
    year.Add("107");
    year.Add("106");
    year.Add("105");

}

<form method="GET">
    <div class="form-group">
        <label>學年度</label>
        <select class="form-control" name="year" placeholder="">
            @for (var i = 0; i < year.Count; i++)
            {
                <option>@year[i]</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>學制</label>
        <select class="form-control" name="academic" placeholder="">
            @for (var i = 0; i < academic.Count; i++)
            {
                <option>@academic[i]</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>科系</label>
        <select class="form-control" name="schoolsys" placeholder="">
            @for (var i = 0; i < schoolsys.Count; i++)
            {
                <option>@schoolsys[i]</option>
            }
        </select>
    </div>
    <button class="btn btn-primary" type="submit">查詢</button>
</form>

<hr>

<div class="progress" style="height: 40px;">
    <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="15" aria-valuemin="0"
        aria-valuemax="100">必修</div>
    <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0"
        aria-valuemax="100">選修</div>
    <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0"
        aria-valuemax="100">通識</div>
</div>
