@{
    ViewData["Title"] = "關於";
}

<div class="card-group">
    <div class="card" style="width: 18rem;">
        <h5 class="card-header">小組成員</h5>
        <div class="card-body">
            <h5 class="card-title">組長：謝昇運</h5>
            <h6 class="card-subtitle mb-2 text-muted">進四工四甲 C107243101</h6>
            <a href="https://github.com/kirbyloco" class="card-link">Github</a>
            <a href="mailto:C107243101@nkust.edu.tw" class="card-link">E-Mail</a>
        </div>

        <div class="card-body">
            <h5 class="card-title">組員：江麒全</h5>
            <h6 class="card-subtitle mb-2 text-muted">進四工四甲 C107243125</h6>
            <a href="mailto:C107243125@nkust.edu.tw" class="card-link">E-Mail</a>
        </div>

        <div class="card-body">
            <h5 class="card-title">組員：蔡廷昊</h5>
            <h6 class="card-subtitle mb-2 text-muted">進四工四甲 C107243130</h6>
            <a href="mailto:C107243130@nkust.edu.tw" class="card-link">E-Mail</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <h5 class="card-header">指導老師</h5>
        <div class="card-body">
            <h5 class="card-title">王來旺</h5>
            <a href="mailto:boris@nkust.edu.tw" class="card-link">E-Mail</a>
        </div>
    </div>
</div>
