@{
    ViewData["Title"] = "初選";
}

<form>
    <div class="form-row">
        <div class="col">
            <label>學制</label>
            <select type="text" class="form-control">
            </select>
        </div>
        <div class="col">
            <label>科系</label>
            <select type="text" class="form-control">
            </select>
        </div>
        <div class="col">
            <label>年級</label>
            <select type="text" class="form-control">
            </select>
        </div>
        <div class="col col-sm-1">
            <label>　</label>
            <button class="btn btn-primary form-control">查詢</button>
        </div>

    </div>
</form>

<hr>

<div class="row">
    <div class="col-sm-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">設施規劃</h5>
                <h6 class="card-subtitle mb-2">授課教師：燈燈燈</h6>
                <p class="card-text">必選修：選修　上課時間：(三)11~13<br>
                    學分：3　教室：育301</p>
                <button class="btn btn-primary">加選</button>
                <button class="btn btn-primary">課程詳細</button>
            </div>
        </div>
    </div>
</div>
