@using Microsoft.AspNetCore.Identity
@model dynamic

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "選課結果";
}

<div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
    <div class="toast" style="position: absolute; top: 0; right: 0;">
        <div class="toast-header">
            <strong class="mr-auto">選課系統</strong>
        </div>
        <div class="toast-body">
            已成功退選
        </div>
    </div>

    @* <h3>尚未到選課結果的時間</h3> *@

    <h2>您已經選了</h2>
    <div class="row row-cols-1 row-cols-md-3">
        @foreach (Course course in Model.Course)
        {
            <div class="col mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@course.CourseName</h5>
                        <h6 class="card-subtitle mb-2">授課教師：@course.Teacher</h6>
                        <p class="card-text">必選修：@course.Reqele　上課時間：@course.Date<br>
                            學分：@course.Credit　教室：@course.Classroom</p>
                        <button class="btn btn-primary"
                        onclick="dropCourse(@course.Id, '@UserManager.GetUserName(User)')">退選</button>
                        <button class="btn btn-primary">課程詳細</button>
                    </div>
                </div>
            </div>
        }
    </div>

</div>
